<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] SakuraSushi</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/Layout.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SakuraSushi.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    @RenderSection("Styles", required: false)
</head>
<body>
    <header class="layoutHeader">

        <h1 class="headerTitle">SAKURA SUSHI</h1>

        <nav class="headerNavbar">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Início</a></li>
                <li><a asp-controller="Menu" asp-action="Menu">Cardápio</a></li>
                <li><a href="">Promoções</a></li>
                <li><a href="">Reservas</a></li>
                <li><a href="">Pedidos</a></li>
            </ul>
            <ul>
                <li><a asp-controller="Home" asp-action="Signin">Cadastrar</a></li>
                <li><a asp-controller="Cliente" asp-action="Perfil">Perfil</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-container">
        <main role="main" class="main">
            @{
                ViewData["Title"] = "Login";

            }

            @if (TempData["Success"] != null)
            {
                <div class="popup success-popup">
                    @TempData["Success"]
                </div>
            }

            @if (TempData["Error"] != null)
            {
                <div class="popup error-popup">
                    @TempData["Error"]
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="layoutFooter">

        <section class="footer-info">
            <h3>©2025 - Todos os Diretos Reservados.</h3>

            <h3 class="footer-title">SakuraSushi</h3>

            <div class="social">
                <a href=""><img src="~/Images/icon-instagram-branco.png" alt=""></a>
                <a href=""><img src="~/Images/icon-whatsapp-branco.png" alt=""></a>
                <a href=""><img src="~/Images/icon-x-branco.png" alt=""></a>
            </div>
        </section>

        <section class="footer-sumary">
            <div class="sumary-column">
                <ul>
                    <h4>Sobre</h4>
                    <li>Sobre...1</li>
                    <li>Sobre...2</li>
                    <li>Sobre...3</li>
                    <li>Sobre...4</li>
                </ul>
            </div>
            <div class="sumary-column">
                <ul>
                    <h4>Suporte</h4>
                    <li>Suporte...1</li>
                    <li>Suporte...2</li>
                    <li>Suporte...3</li>
                    <li>Suporte...4</li>
                </ul>
            </div>
            <div class="sumary-column">
                <ul>
                    <h4>Promoções</h4>
                    <li>Promoção...1</li>
                    <li>Promoção...2</li>
                    <li>Promoção...3</li>
                    <li>Promoção...4</li>
                </ul>
            </div>
            <div class="sumary-column">
                <ul>
                    <h4>Eventos</h4>
                    <li>evento...1</li>
                    <li>evento...2</li>
                    <li>evento...3</li>
                    <li>evento...4</li>
                </ul>
            </div>
        </section>

    </footer>

    <script>
        setTimeout(() => {
            const popup = document.querySelector('.popup');
            if (popup) popup.style.display = 'none';
        }, 3000);
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>